<!DOCTYPE HTML>
<html>
	<head>
        <meta charset="UTF-8" />
		<title>grandpy_bot</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" >
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>

	<body>
        <header class="container fixed-top">
            <div class="row">
                <div class="col" id="title-container">
                    <h1 id="app-title">Grandpy Bot</h1>
                    <div id="animation"></div>
                </div>
            </div>
        </header>

        <main class="container">
            <div id="chat">
            </div>
        </main>

        <div class="fixed-bottom container pb-5 pt-4" id="msg-ui">
            <form action="" method="POST" id="question-container">
                <div class="row">
                    <div class="col">
                        <h6>Quelle question veux-tu me poser ?</h6>
                    </div>
                </div>
                <div class="row align-items-end">
                    <div class="col-sm-8">
                        <textarea name="question" id="question" autofocus class="form-control" rows="3"></textarea>
                    </div>
                    <div class="col-sm-4 pt-4 pt-sm-0">
                        <input type="button" id="submit" value="Envoyer" class="btn btn-primary">
                    </div>
                </div>
            </form>
        </div>
        <footer class="fixed-bottom">
            <div class="container">
                <div class="row" id="sign">
                    <div class="col-6 left">
                        <p>Paul Choppin</p>
                    </div>
                    <div class="col-6 right">
                        <a href="https://github.com/pshop/app_gp">github.com</a>
                    </div>
                </div>
            </div>
        </footer>
		<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>

	</body>

</html>