<!DOCTYPE HTML>
<html>
	<head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" herf="static/style.css" >
		<title>grandpy_bot</title>	
	</head>

	<body>
		<h1>Grandpy Bot</h1>
		<form action="" method="POST">
			<legend>Quelle question veux-tu me poser ?</legend>
			<input type="text" name="question" id="question" autofocus>
			<input type="button" id="submit" value="Envoyer">
		</form>
		<div id="chat">
		</div>
		<script type="text/javascript" src="static/main.js"></script>
	</body>

</html>